<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/" class="navbar-brand">ナンパされチェッカー</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navmenu1" aria-controls="navmenu1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navmenu1">
      <div class="navbar-nav">
        <%= link_to root_path, class: "nav-item nav-link" do %>
          <i class="fas fa-plus"></i>アナタの女装写真を検証
        <% end %>
        <%= link_to root_path, class: "nav-item nav-link" do %>
          <i class="fas fa-users"></i>マイページ
        <% end %>
      </div>
    </div>
  </nav>
</header>
