.inspection-result{
  font-size: 30px;
  span{
    font-size: 90px;
  }
}

.validate-photo{
  color: #FFF;
  background-color: #EF0896;
  border-radius: 20px !important;
  font-size: 20px;
}

.twitter-button{
  color: #FFF;
  background-color: #43C2FA;
  border-radius: 20px !important;
  font-size: 20px;
}